<nav class="light-blue lighten-1" role="navigation">

  <div class="nav-wrapper container">
    <a href="http://hepix.org"><img class="logo-image" src="/images/hepix-logo.png" alt="HEPiX Logo"></a>
    {% assign default_paths = site.pages | map: "path" %}
    {% assign page_paths = site.header_pages | default: default_paths %}
  
    <ul class="right hide-on-med-and-down">
      {% if page.url == "/" %}
        <li class="active"><a href="{{ "/" | relative_url }}">Home </a></li>
      {% else %}
        <li><a href="{{ "/" | relative_url }}">Home </a></li>
      {% endif %}
      {% if page_paths %}
        {% for path in page_paths %}
          {% assign my_page = site.pages | where: "path", path | first %}
          {% if my_page.menu %}
            {% assign my_page_collection = my_page.menu | slugify: 'default' | replace: "-", "_" %}
            {% if site.[my_page_collection] %}
              <li>
                <a class="dropdown-button" data-beloworigin="true" data-alignment="right" data-activates="{{ my_page_collection }}-menu">{{ my_page.menu }}<i class="material-icons right">arrow_drop_down</i></a>
                <ul id="{{ my_page_collection }}-menu" class="dropdown-content">
                  <li><a href="{{ my_page.url | relative_url }}">WG Activities</a></li>
                  <li class="divider"></li>
                  {% for collection_page in site.[my_page_collection] %}
                    {% if collection_page.menu == "_" %}
                      {% assign my_menu = collection_page.title %}
                    {% else %}
                      {% assign my_menu = collection_page.menu %}
                    {% endif %}
                    {% if my_menu %}
                      <li><a href="{{ collection_page.url }}">{{ my_menu }}</a></li>
                    {% endif %}
                  {% endfor %}
                </ul>
              </li>
            {% else %}
  	          <li><a href="{{ my_page.url | relative_url }}">{{ my_page.menu | escape }}</a></li>
            {% endif %}
          {% endif %}
        {% endfor %}
      {% endif %}
      <li>
        <a class="dropdown-button" data-beloworigin="true" data-alignment="right" data-activates="about-menu">About<i class="material-icons right">arrow_drop_down</i></a>
        <ul id="about-menu" class="dropdown-content">
          <li><a href="/about/how_to_contribute.html">Website HowTo</a></li>
        </ul>
      </li>
    </ul>
  
    {% comment %}Add class "fixed" to test on a computer/large screen{% endcomment %}
    <ul id="nav-mobile" class="side-nav">
      <li><a href="{{ "/" | relative_url }}">Home</a></li>
      {% if page_paths %}
        {% for path in page_paths %}
          {% assign my_page = site.pages | where: "path", path | first %}
          {% if my_page.menu %}
            {% assign my_page_collection = my_page.menu | slugify: 'default' | replace: "-", "_" %}
            {% if site.[my_page_collection] %}
              <li class="no-padding">
                <ul class="collapsible collapsible-accordion">
                  <li>
                    <a class="collapsible-header">{{ my_page.menu }}<i class="material-icons right">arrow_drop_down</i></a>
                    <div class="collapsible-body">
                      <ul>
                        <li><a href="{{ my_page.url | relative_url }}">WG Activities</a></li>
                        <li class="divider"></li>
                        {% for collection_page in site.[my_page_collection] %}
                          {% if collection_page.menu %}
                            <li><a href="{{ collection_page.url }}">{{ collection_page.menu }}</a></li>
                          {% endif %}
                        {% endfor %}
                      </ul>
                    </div>
                  </li>
                </ul>
              </li>
            {% else %}
              <li><a href="{{ my_page.url | relative_url }}">{{ my_page.menu | escape }}</a></li>
            {% endif %}
          {% endif %}
        {% endfor %}
      {% endif %}
      <li class="no-padding">
        <ul class="collapsible collapsible-accordion">
          <li>
            <a class="collapsible-header">About<i class="material-icons right">arrow_drop_down</i></a>
            <div class="collapsible-body">
              <ul>
                <li><a href="/about/how_to_contribute.html">Website HowTo</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </li>
    </ul>        
  
    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
  </div>
</nav>
