---
layout: default
---

  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center orange-text">{{ site.title }}</h1>
      <div class="row center">
        <span class="home_content col s12 light">{{ content }}</span>
      </div>
    </div>
  </div>

  <div class="container">
    <div style="background: #ddd">
      <div class="container wg-list">
        <section>
            <div class="list-title">Working Groups</div>
            <ul class="collection">
                {% assign default_paths = site.pages | map: "path" %}
                {% assign page_paths = site.header_pages | default: default_paths %}
                {% for path in page_paths %}
                    {% assign my_page = site.pages | where: "path", path | first %}
                    {% if my_page.menu %}
                        {% assign collection_name = my_page.menu | slugify: 'default' | replace: "-", "_" %}
                        {% if site[collection_name] %}
                            <li class="collection-item avatar">
                                <div class="wg-name">{{ collection_name | capitalize }}</div>
                                <div class="wg-title">{{ my_page.title }}</div>
                                <div class="wg-description">{{ my_page.description }}</div>
                                <a href="{{ my_page.url | relative_url }}" class="secondary-content"><i class="material-icons">navigate_next</i></a>
                            </li>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </ul>
        </section>
      </div>
    </div>
  </div>
